<section>
  <h1>Sponsors</h1>
  <a href="http://chariotsolutions.com/" class="sponsor" target="_blank"><img src="/images/054293f5.chariot-logo.png"></a>
  <a href="http://jarv.us/" class="sponsor" style="background:black;padding:10px" target="_blank"><img src="/images/79138bca.jarvus-logo.png"></a>
  <a href="http://sungard.com/" class="sponsor" target="_blank"><img src="/images/5cab46df.sungard-logo.jpg"></a>
  <a href="http://philadelphia.impacthub.net/" class="sponsor" target="_blank"><img src="/images/ee73f0ca.impact-hub-logo.png"></a>
  <a href="http://www.elsevier.com/" class="sponsor" target="_blank"><img src="/images/c9f19d04.elsevier-logo.jpg"></a>
  <a href="http://www.randstad.com/" class="sponsor" target="_blank"><img src="/images/92671a7b.randstad-logo.png"></a>
  <a href="http://www.teksystems.com/" class="sponsor" target="_blank"><img src="/images/029131e0.teksystems-logo.gif"></a>

  <a href="http://www.meetup.com/Philadelphia-JavaScript-Developers/suggestion/" target="_blank">Your company here!</a>
</section>